{{> basicNavbar}}
<main class="error-page wrapper wrapper--column">
    <div class="error-group">
        <p class="status-message">{{statusMessage}}</p>
        <h1 class="status-code">{{statusCode}}</h1>
    </div>
    <p class="client-message">{{clientMessage}}</p>
    <a class="button" href="/">back</a>
</main>
{{> footer}}