{{> navbar}}
<main>
    <section class="wrapper">
        <h2>Your game</h2>
    </section>
    <section class="wrapper">
        <ul class="game-list">
            {{#each people}}
                <li class="game-tile">
                    
                </li>
            {{/each}}
        </ul>
    </section>
</main>