
    <header>
        <h1>Welcome to the Alias Game !</h1>
    </header>
    <main>
        <button class="button" id="createGameBtn">Create Game</button>
        <script>
            const BASE_URL = '{{BASE_URL}}'
        </script>
        <p>Join or create a game to start playing!</p>

        {{> filterGamesForm }}
     

        <ul id="gameList" class="game-list">
           {{#each games as |game|}}

                <li class="game-list__item" id="{{game._id}}">       

                     {{> gameListItem }}

                </li>

           {{/each}}
        </ul>

      {{> createNewGameModal }}

    </main>

<script src="/js/socket.io.js" type="module"></script>
<script src="/js/handleGameListChanges.js" type="module"></script>

