<div class='gameLobbyContainer'>
    <header>
        <img
      src='/images/icons/logo.svg'
      alt='Logo'
      class='logo__icon'
    />
         {{> userProfile }}
    </header>
    <main>
     <h2>Your game</h2>
        <button class="button" id="createGameBtn">+ create Game</button>
        
        <h3>Other games</h3>

        {{> filterGamesForm }}
     

        <ul id="gameList" class="game-list">
           {{#each games as |game|}}

                <li class="game-list__item" id="{{game._id}}">       

                     {{> gameListItem }}

                </li>

           {{/each}}
        </ul>

      {{> createNewGameModal }}

    </main>
    </div>


<script src="/js/handleGameListChanges.js" type="module"></script>
<script src="/js/handleJoinRoom.js" type="module"></script>
<script src="/js/handleCreateGameFormSubmit.js" type="module"></script>
<script src="/js/handleOptionsUserProfile.js" type="module"></script>