
    <header>
        <h1>Welcome to the Alias Game !</h1>
    </header>
    <main>
        <button class="button" id="createGameBtn">Create Game</button>

        <p>Join or create a game to start playing!</p>
        <ul id="gameList" class="game-list">
           
        </ul>

        <div id="gameModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Game Properties</h2>
                <form id="createGameForm">
                <label for="playersPerTeam">Players per Team (2 - 4): </label>
                <input type="number" id="playersPerTeam" name="playersPerTeam" min="2" max="4" required><br>

                <label for="timePerRound">Time per Round (minutes, 1 - 5):</label>
                <input type="number" id="timePerRound" name="timePerRound" min="1" max="5" required><br>

                <label for="totalRounds">Total Rounds (1 - 5):</label>
                <input type="number" id="totalRounds" name="totalRounds" min="1" max="5" required><br>

                <button type="submit" class="button">Create Game</button>
                </form>
            </div>
        </div>

    </main>

<script src="/js/socket.io.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/modal.js"></script>

