<body class="sign-up">
    <header>
        <div class="wrapper">
            <img src='./assets/alias.svg' alt='' />
        </div>
    </header>
    <main>
        <section class="wrapper wrapper--column">
            <form class="auth-form" action="">
                <div class="auth-input" data-label="username">
                    <input id="username" class="auth-input__input text" name="username" type="text" placeholder="e.g. joe_doe78"/>
                </div>
                <div class="auth-input" data-label="email">
                    <input id="email" class="auth-input__input text" name="email" type="email" placeholder="e.g. joe.doe@email.com"/>
                </div>
                <div class="auth-input" data-label="password">
                    <input id="password" class="auth-input__input text" name="password" type="password" autocomplete="new-password" placeholder="e.g. naGEntIcHR"/>
                </div>
                <div class="auth-input" data-label="repeat password">
                    <input id="repeatPassword" class="auth-input__input text" name="repeat-password" type="password" autocomplete="new-password" placeholder="repeat your password"/>
                </div>
                <button class="button text" type="submit">Sign up</button>
            </form>
            <div class="more">
                <p class="text">or</p>
                <button class="button button--outline text">Log in</button>
            </div>
        </section>
    </main>
    <script src="/js/signUp.js"></script>
<body/>