{{> navbar}}
<div class='new-game' id='start-game'>
  
  <h1>Start Game</h1>
  <section>
    <h2>Team A</h2>
    <h3>Players: 2</h3>
    <ol>
      <li>user</li>
      <li>user</li>
    </ol>
  </section>
  <section>
    <h2>Team B</h2>
    <h3>Players: 2</h3>
    <ol>
      <li>user</li>
      <li>user</li>
    </ol>
  </section>
  <section>
    <h3>Score 0 : 1</h3>
    <h3>Round 1 </h3>
    <h3>Time left: 00:45</h3>
  </section>
  <section>secret</section>
  <div>
{{!-- {expalin chat} --}}
  </div>
  <div>
{{!-- {guess chat} --}}
<button class='button'>Send</button>
  </div>
  
</div>


