/* .gameLobbyContainer {
padding: 3px;
} */

h3 {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.game-lobby__game-name {
  text-align: center;
}

.game-lobby__header {
  text-align: center;
}

.game-lobby__teams {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.game-lobby__team1,
.game-lobby__team2 {
  width: 15vw;
}

.chat-window {
  height: 20vh;
  border: 1px solid black;
  overflow-y: scroll;
}

.chat-window__list {
  list-style: none;
}

.logo__icon {
  margin-bottom: 30px;
}

.filter_Container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.label {
  font-weight: 600;
  padding-right: 5px;
}

input[name='timePerRound'],
input[name='playersPerTeam'],
input[name='totalRounds'] {
  border: 0.5px solid black;
  border-radius: 4px;
  padding: 2px 4px;
}

.message {
  padding: 0.6rem 2.4rem;
  text-align: left;
}

.message__user {
  color: blue;
}

.message__info {
  font-size: 1.6rem;
  font-family: monospace;
}

.message--yours {
  text-align: right;
}

.message--yours .message__user {
  color: red;
}
