
.game-lobby__game-name {
  text-align: center;
}

.game-lobby__header {
  text-align: center;
}

.game-lobby__teams {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.game-lobby__team1,
.game-lobby__team2 {
  width: 15vw;
}

.chat-window {
  background-color: bisque;
  height: 20vh;
  border: 1px solid black;
  overflow-y: scroll;
}

.chat-window__list {
  list-style: none;
}

.logo__icon {
  margin-bottom: 30px;
}

.filter_Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:start;
  background-color: rgb(139, 133, 133);
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 50vw;
  height: 15vh;
}

.label {
  padding-right: 30px;
}
