.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  width: 25vw;
  border-radius: 5px;
}

.modal-content .modal-content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
}

#optionsModal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-content button[type='submit'] {
  margin-top: 20px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin: 10px 0 5px;
}

.modal-content input {
  padding: 8px;
  font-size: 14px;
}
