.user-profile {
    position: absolute; 
    top: 30px;          
    right: 30px;        
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.user-profile__icon {
    width: 32px;        
    height: 32px;       
    
}

.user-profile h4 {
    margin: 0;          
    font-size: 1.2rem;  
    color: darkcyan; 
}

.user-profile__button {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
}

.user-profile__button:focus {
    outline: none;
}