<header class="navbar">
    <nav class="wrapper">
        <img id='back' src="/assets/alias.svg" alt="Logo">
    </nav>
</header>

<script>
  document.getElementById('back').onclick = function(){
  window.location.replace('/'); }
</script>
