<footer>
  <div class='logos'>
    <p>Created by:</p>
    <div>

      <a href='https://github.com/pologora' target='_blank' rel='noreferrer'>
        <img title='My GH' alt='GitHub' src='/assets/GH.png' />
      </a>

      <a href='https://github.com/Rolleksy' target='_blank' rel='noreferrer'>
        <img title='My GH' alt='GitHub' src='/assets/GH.png' />
      </a>

      <a href='https://github.com/0xMIEL' target='_blank' rel='noreferrer'>
        <img title='My GH' alt='GitHub' src='/assets/GH.png' />
      </a>

      <a href='https://github.com/olga-kacala' target='_blank' rel='noreferrer'>
        <img title='My GH' alt='GitHub' src='/assets/GH.png' />
      </a>

    </div>
  </div>
</footer>