<header class="navbar">
    <nav class="wrapper">
        <img src="./assets/alias.svg" alt="">
        <button class="navbar__settings"><img src="./assets/settings.svg" alt=""></button>
    </nav>
</header>