<div class="user-profile">
    <button class="user-profile__button" id="openOptionsBtn" aria-label="User Profile">
        <img src="/images/icons/profile.svg" alt="User Profile" class="user-profile__icon">
    </button>
    <h4>Hi, {{username}}!</h4>
</div>

<div id='optionsModal' class='modal'>
    <div class='modal-content'>
        <span class='close'>&times;</span>
        <h2>User Options</h2>
        <ul>
            <li><a href='/logout'>Logout</a></li>
            <li><a href='/change-password'>Change Password</a></li>
            <li><a href='/statistics'>View Statistics</a></li>
        </ul>
    </div>
</div>
