<div class='user-profile'>
  <button
    class='user-profile__button'
    id='openOptionsBtn'
    aria-label='User Profile'
  >
    <img
      src='/assets/profile.svg'
      alt='User Profile'
      class='user-profile__icon'
    />
  </button>
  <h4>Hi, {{username}} !</h4>
</div>

<div id='optionsModal' class='modal'>
  <div class='modal-content'>
    <button class='button' id='logoutButton'>Logout</button>
    <div class='close'>&times;</div>
  </div>
</div>